.*
?.*
!.gitignore
!.github
!.opencode
__pycache__/
htmlcov
.coverage
coverage.xml
build/
dist/
docs/build/*
site/
uv.lock
*.csv
*.grib
*.npz
*.png
*.sh
*.old
*.pyc
*.egg-info/
.vscode/
thermofeel.code-workspace
