# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  pull_request:
    branches: [master]

  push:
    branches: [ master ]

  release:
    types: [created]

jobs:

  quality:
    name: Code QA
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: pip install black flake8 isort
    - run: black --version
    - run: isort --check .
    - run: black --check .
    - run: flake8 .

  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: quality
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - run: python setup.py develop
    - run: pip install -r tests/requirements.txt
    - run: pip freeze
    - run: env | sort
    - run: pytest

  deploy:
    if: ${{ github.event_name == 'release' }}

    name: Deployment
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Check version
      run: |
      release=${GITHUB_REF##*/}
      version=$(python setup.py --version)
      test "$release" == "$version"

    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist
        twine upload dist/*

  

